<div class="container">
  <h2>List of Pets</h1>
  <h3>from: <%= @start_date.strftime("%F") %> to: <%= @end_date.strftime("%F") %></h3>
    <ul>
      <% @pets.each do |pet| %>
      <li><%= pet.name %> - <%= pet.species %> - <%= pet.description %> <%= link_to "details", pet_path(pet) %></li>
      <% end %>
    </ul>
</div>
