<% content_for(:title_tag) do %>
  Add your pets | Pexotic
<% end %>

<div class="new-pet-container">
  <div class="container">
    <div class="row col-xs-12 col-sm-8 col-sm-offset-2">
        <h1>Add a new pet</h1>
        <%= simple_form_for(@pet) do |f| %>

          <% if @pet.errors.any? %>
            <div>
              <p>Errors</p>
              <ul>
                <% @pet.errors.full_messages.each do |message| %>
                  <li>
                    <%= message %>
                    <% if message == "Owner must exist" %>
                      - please sign in
                    <% end %>
                  </li>
                <% end %>
              </ul>
            </div>
          <% end %>
          <%= f.input :name, placeholder: "eg,) Mr. Hedgehog" %>
          <%= f.input :species, collection: ["Iguana", "Hedgehog", "Capybara", "Chameleon", "Fennec", "Fox", "Bearded Dragon", "Wallaby", "Chinchilla", "Llama", "Hippopotamus", "Macaw", "Python", "Serva", "Skunk", "Flying Squirrel", "Monkey", "Crocodile"], prompt: "Choose species" %>
          <%= f.input :personality, placeholder: "eg,) Calm and nice" %>
          <%= f.input :description, placeholder: "eg,) Mr. Hedgehog is super friendly and adorable..."%>
          <%= f.input :gender, collection: ["Male", "Female"], prompt: "Choose the gender" %>
          <%= f.input :age, placeholder: "eg,)  1  (Input number)"%>
          <%= f.input :location, placeholder: "eg,) Tokyo, Japan" %>
          <%= f.input :daily_price, placeholder: "eg,) ¥1,000/day" %>
          <%= f.input :start_date, id: "start-date", class: "form-inline inline" %>
          <%= f.input :end_date, id: "end-date", class: "form-inline inline" %>
          <%= f.input :photo %>
          <%= f.input :photo_cache, as: :hidden %>
          <br>
          <%= f.submit "Create", class: "btn btn-success btn-lg" %>
      <% end %>
    </div>
  </div>
</div>
