<div class="new-pet-container">
  <div class="container">
    <div class="row col-xs-12 col-sm-8 col-sm-offset-2">
        <h1>Add a new pet</h1>
        <%= simple_form_for(@pet) do |f| %>

          <% if @pet.errors.any? %>
            <div>
              <p>Errors</p>
              <ul>
                <% @pet.errors.full_messages.each do |message| %>
                  <li>
                    <%= message %>
                    <% if message == "Owner must exist" %>
                      - please sign in
                    <% end %>
                  </li>
                <% end %>
              </ul>
            </div>
          <% end %>
          <%= f.input :start_date, id: "start-date", class: "form-inline inline" %>
          <%= f.input :end_date, id: "end-date", class: "form-inline inline" %>
          <%= f.input :name %>
          <%= f.input :species, collection: ["Iguana", "Hedgehog", "Capybara", "Chameleon", "Fennec", "Fox", "Bearded Dragon", "Wallaby", "Chinchilla", "Llama", "Hippopotamus", "Macaw", "Python", "Serva", "Skunk", "Flying Squirrel", "Monkey", "Crocodile"] %>
          <%= f.input :daily_price %>
          <%= f.input :description %>
          <%= f.input :age %>
          <%= f.input :gender, collection: ["Male", "Female"] %>
          <%= f.input :personality %>
          <%= f.input :photo %>
          <%= f.input :photo_cache, as: :hidden %>
          <br>
          <%= f.submit "Submit", class: "btn btn-primary btn-success btn-lg", style: "width: 100%" %>
      <% end %>
    </div>
  </div>
</div>
