<div class="show-container">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-8">
        <div>
          <h1><%= @pet.name %><%#= @pet.name %></h1>
          <%= image_tag "capybara.jpg", class: "show-image" %></p> <!-- changed to dynamically -->
        </div>
        <div class="pets-content">
          <h2>The Creature</h2>
          <p><%= @pet.description %></p>
          <h2>Details</h2>
          <ul>
            <li>
              <strong>Gender:</strong> <%= @pet.gender %><br />
            </li>
            <li>
              <strong>Age:</strong> <%= @pet.age %> years old<br />
            </li>
            <li>
              <strong>Personality:</strong> <%= @pet.personality %><br />
            </li>
          </ul>
          <h2>Reviews of this pets</h2>
          <ul class="stars">
            <li><p>Overall rates: </p></li>
            <li><i class="fa fa-star marked"></i></li>
            <li><i class="fa fa-star marked"></i></li>
            <li><i class="fa fa-star marked"></i></li>
            <li><i class="fa fa-star marked"></i></li>
            <li><i class="fa fa-star"></i></li>
            <li>100 reviews</li>
          </ul>
          <div class="review">
            <h4>Review title</h4>
            <ul class="stars">
              <li><img src="http://placehold.it/50x50" class="avatar"></li>
              <li><i class="fa fa-star marked"></i></li>
              <li><i class="fa fa-star marked"></i></li>
              <li><i class="fa fa-star marked"></i></li>
              <li><i class="fa fa-star marked"></i></li>
              <li><i class="fa fa-star"></i></li>
              <li>100 reviews</li>
            </ul>
            <p>Review content Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            consequat.</p>
          </div><div class="review">
            <h4>Review title</h4>
            <ul class="stars">
              <li><img src="http://placehold.it/50x50" class="avatar"></li>
              <li><i class="fa fa-star marked"></i></li>
              <li><i class="fa fa-star marked"></i></li>
              <li><i class="fa fa-star marked"></i></li>
              <li><i class="fa fa-star marked"></i></li>
              <li><i class="fa fa-star"></i></li>
              <li>100 reviews</li>
            </ul>
            <p>Review content Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            consequat.</p>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4">
        <div class="book-container">
          <h2>Rent <%= @pet.name %> for ¥<%= @pet.daily_price %>/day?</h2> <!-- Shoule be dynamically -->
          <hr>
          <div class="rental-dates">
            <form action="" method="get" accept-charset="utf-8">
              <div class="form-group">
                <label for="">Rental Start Date: </label>
                <input type="date" class="rent-input-field">
              </div>
              <div class="form-group">
                <label for="">Rental End Date: </label>
                <input type="date" class="rent-input-field">
              </div>
              <%= link_to "Book", pets_path, class: "btn btn-primary", data: { confirm: 'Are you sure you wish to book this pet?' } %>
            </form>
          </div>
        </div>
      </div>
      <%#= link_to "Back to lists", pets_path %>
    </div>
  </div>
</div>


