<div class="banner" style="background-image: url('<%= image_path "capybara.jpg" %>');">
  <div class="banner-content text-center">
    <h1>Search for an Exotic Pet</h1>
    <form action="/pets" style="color: black">
      <select id="select" value="Select Species" class="input-lg"> <!--Supplement an id here instead of using 'name'-->
        <option value="select">Select Species</option>
        <option value="dog">dog</option>
        <option value="hedgehog">Hedgehog</option>
        <option value="owl">Owl</option>
        <option value="capybara">Capybara</option>
        <option value="chameleon">Chameleon</option>
        <option value="fennec">Fennec</option>
        <option value="sea-otter">Sea Otter</option>
        <option value="wallaby">Wallaby</option>
        <option value="chinchilla">Chinchilla</option>
        <option value="python">Python</option>
        <option value="crocodile">Crocodile</option>
      </select>
      <input id="start-date" type="date" placeholder="Select Start Date" class="input-lg">
      <input id="end-date" type="date" placeholder="Select End Date" class="input-lg">
      <input type="submit" value="Search" class="btn btn-success btn-round btn-lg input-lg">
    </form>

    <%= form_tag(pets_path, method: :get) do %>
      <%#= text_field_tag :species, params[:species] %>
      <%= select_tag "species", raw("<option>dog</option><option>crocodile</option>") %>
      <%= date_field_tag :start_date, params[:start_date] %>
      <%= date_field_tag :end_date, params[:end_date] %>
      <%= submit_tag 'Search', name: nil %>
    <% end %>

    <%#= simple_form_for @pet, url: pets_path, method: :get do |f| %>
      <%#= f.input :species, collection: @SPECIES %>
      <%#= f.submit "submit", class: "btn btn-primary"%>
    <%# end %>

  </div>
</div>
<div class="home-content text-center">
  <h2>Why Choose Pexotic?</h2>
  <br>
  <%= image_tag 'exoticpets.jpg' %>
  <br>
    <p id="first-paragraph">Lease your exotic pet and earn money</p>
    <p>Rent an exotic pet for a day or more</p>
    <p>Join a community of exotic pet lovers</p>
</div>
